@model Webshop.Models.ProductImage

@{
    ViewData["Title"] = "ProductImage Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<partial name="_ProductImagePartial" />

<div>
    <a asp-action="Edit" asp-route-id="@Model.ImageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
