@model List<OrderDetail>

@{
    ViewData["Title"] = "OrderDetails";
}

<h1>OrderDetails</h1>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>Quantity</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Quantity
            </td>
            <td>
                @item.ProductId
            </td>
            <td>
                @item.ProductName
            </td>
            <td>
                @item.Price
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    <a class="btn btn-primary" asp-controller="Admin" asp-action="Index">Back</a>
</div>
