@model ListCategoriesViewModel
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <partial name="_AdminMenuPartial" />

    <a class="btn btn-primary" asp-area="" asp-controller="Admin" asp-action="CreateCategory">Create new category</a>

    @if (Model.ErrorMessage != null)
    {
        <partial name="_ErrorMessagePartial" , model="@Model.ErrorMessage" />
    }

    <partial name="_ListCategoriesPartial" , model="@Model.Categories" />

</div>