@model Webshop.Viewmodels.AdminInventoryViewModel

@{
    ViewData["Title"] = "Admin Inventory";
}

<div class="container-fluid">

    <partial name="_AdminMenuPartial" />

    <h1>AdminInventory</h1>

    <a class="btn btn-primary" asp-area="" asp-controller="Inventory" asp-action="CreateProduct">Create new product</a>

    @if (Model.ErrorMessage != null)
    {
        <partial name="_ErrorMessagePartial" , model="@Model.ErrorMessage" />
    }

</div>

<partial name="PartialViews\_inventoryPartial" , model="@Model.InvViewModel" />