@model Webshop.Viewmodels.AdminInventoryViewModel

@{
    ViewData["Title"] = "AdminInventory";
}

<h1>AdminInventory</h1>

<partial name="_AdminMenuPartial" />

<a class="btn btn-primary" asp-area="" asp-controller="Inventory" asp-action="CreateProduct">Create new product</a>

@if (Model.ErrorMessage != null)
{
    <partial name="_ErrorMessagePartial" , model="@Model.ErrorMessage" />
}

<partial name="_AdminInventoryPArtial" , model="@Model.Inventory" />