@model Webshop.Viewmodels.InventoryViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    </head>
    <body>

        <partial name="_pageHeader" />

        
        <div id="home">
            
            <div class="slogan"><h1>Royal taste!</h1></div>
            <div class="arrow-box"><a href="#shop"><i class="las la-angle-down"></i></a></div>
            <img src="~/Images/main-cupcake.jpg" alt="main">

        </div>

        <div id="shop">
            
            <partial name="PartialViews\_inventoryPartial", model="@Model" />                               
        
        </div>
        <div id="about"></div>
        
        

        <partial name="_pageFooter" />

        

    </body>
</html>






