
@{
    ViewData["Title"] = "OrderComplete";
}

<div class="text-center">

    <div class="jumbotron">
        <h2 class="display-4">Order Completed</h2>
        <p class="lead">Our pastry chefs have started baking your cupcakes...</p>
        <hr class="my-4">
        <div class="arrival_bg_box">
            <img src="/Images/cupcakes_checkout.jpg" alt="">
        </div>
        <form asp-action="Checkout" method="post" class="form-row form-inline" role="form">
            <div>
                <div>
                    <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index">Home</a>
                </div>
            </div>
        </form>
    </div>

</div>

