@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #feeda8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-y: scroll;
}

#container{
    min-height: 100%;
    position: relative;
}

header{
    width: 100%;
    height: 100px;
    background-color: #f1c34e;
    position: fixed;
    z-index: 2;
    color: aliceblue;
}

.menu{
    text-align: center;
    margin-left: 23.5%;

}

.menu > ul{
    list-style-type: none;
    margin: auto;
    display: inline-block;
}

.menu > ul > a > li{
    float: left;
    height: 50px;
    width: 150px;
    padding-top: 50px;
    color: aliceblue;
}

header li:hover{
    text-decoration: underline;
}

.logo{
    height: 148px;
    width: 148px;
    float: left;
}

.admin-box{
    height: 30px;
    width: 200px;
    background-color: #9fa10f;
    float: left;
    margin-top: 40px;
    text-align: center;
    cursor: pointer;
    padding-top:10px;
    border-radius: 0px 5px 0px 0px;
    
}

.admin-box-content{
    display: none;
    position: absolute;
    background-color: #9fa10f;
    width: 200px;
    z-index: 1;
    margin-top: 80px;
    text-align: center;
    border-radius: 0px 0px 5px 0px;
}

.admin-box:hover + .admin-box-content{
    display: block;
}

.admin-box-content:hover{
    display: block;

}

.admin-box-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: aliceblue;
}

.admin-box-content a:hover {
    background-color: #7e8017;
}

.login-box{
    float: right;
    width: 400px;
    height: 50px;
    color: aliceblue;
    padding-top: 50px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.login-button{
    width: 100px;
    height: 25px;
    background-color: #9fa10f;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
    margin-right: 15px;
    float: right;
    border-radius: 5px;
    padding-top: 5px;

}

.login-button > a{
    color: aliceblue;
    text-decoration: none;
}

.logout-button{
    width: 100px;
    height: 30px;
    background-color: #9fa10f;
    border: none;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
    margin-right: -85px;
    margin-left: 10px;
    border-radius: 5px;
}

.cart-box{
    height: 100px;
    width: 245px;
    float: right;   
}

.la-shopping-cart{
    font-size: 48px;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
    cursor: pointer;
    color: aliceblue;
}

#home{
    width: 100%;
    height: 1400px;
}

.slogan{
    margin: auto;
    position: absolute;
    height: 300px;
    width: 100%;
    margin-top: 200px;
    user-select: none;
}

.slogan > h1{
    text-align: center;
    position: relative;
    font-size: 150px;
    font-style: italic;
    font-weight: bold;
    color: aliceblue;
}

#home > img{
    width: 100%;
    height: 1400px;
    object-fit: cover;
}

.arrow-box{
    position: absolute;
    height: 64px;
    width: 100%;
    margin-top: 1200px;
    text-align: center;
}

.la-angle-down{
    font-size: 64px;
    color: #b2dfe4;
}

#shop{
    width: 80%;
    min-height: 1800px;
    margin-left: 10%;
    float: left;
}

.category-container{
    float: left;
    width: 100%;
    height: auto;
    padding-top: 30px;
    display: table;
    margin: 0 auto;

}

.category-container > ul {
    list-style-type: none;

}

.category-container > ul > li{
    width: 300px;
    height: auto;
    float: left;
    margin-left: 7.5%;
    margin-bottom: 100px;
    display: inline;

}

ul > li > p{
    font-weight: bold;

}

ul > li > img{
    object-fit: cover;
    height: 300px;
    width: 300px;
    object-position: right bottom;
}

.category-container > h1{
    margin-left: 9.5%;

}

#about{
    width: 100%;
    height: 400px;
    background-color: rgb(255, 136, 0);
    float: left;
}

#store{
    width: 100%;
    height: 400px;
    background-color: rgb(31, 189, 57);
    float: left;
}

footer{
    width: 100%;
    height: 300px;
    background-color: #f1c34e;
    bottom: 0;
    float: left;
    
}

.footer-text{
    margin-top: 30px;
    height: 40px;
    text-align: center;
}

.footer-text > ul > li:hover{
    text-decoration: underline;
}

.footer-text > ul{
    display: inline-block;
}

.footer-text > ul > li{
    float: left;
    list-style-type: none;
    margin-left: 30px;
    font-size: 20px;
    color: aliceblue;
}

.social-box{
    height: 50px;
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.social-circle{
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
    text-align: center;
}

.social-circle2{
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    border-radius: 50%;
    float: left;
}

.social-circle > i{
    font-size: 40px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 2px;
    color: #f1c34e;
}

.social-circle2 > i{
    font-size: 40px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    color: #f1c34e;
}

.social-circle > i:hover{
    color: aliceblue;
}

.social-circle2 > i:hover{
    color: aliceblue;
}

footer > p{
    color: aliceblue;
    text-align: center;
    margin-top: 60px;
}

footer > p > a{
    color: aliceblue;
}

.card{
    object-fit: cover;
    height: 200px;
    width: 200px;
    object-position: right bottom;
}

@media (max-width: 1920px) {

    .menu{
        text-align: center;
        margin-left: 270px;

    }
    
    .cart-box{
        width: 100px;
    }

    .slogan{
        margin-top: 120px;
    }
    
    .slogan > h1{
        font-size: 120px;
    }

    #home{
        width: 100%;
        height: 800px;
    }

    #home > img{
        width: 100%;
        height: 800px;
        object-fit: cover;
    }

    .arrow-box{
        margin-top: 660px;
    }

}