<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownAdminMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Admin menu
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-controller="Admin" asp-action="ListUsers">Manage Users</a>
        <a class="dropdown-item" asp-controller="Role" asp-action="Index">Manage Roles</a>
        <a class="dropdown-item" asp-controller="Image" asp-action="Index">Manage Images</a>
        <a class="dropdown-item" asp-controller="Admin" asp-action="ListCategories">Manage Categories</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Inventory" asp-action="CreateProduct">Create Product</a>
    </div>
</div>