@using Microsoft.AspNetCore.Identity
@using Webshop.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            
                <button type="submit" class="logout-button">Logout</button>
            
    </form>
}
else
{
    <div class="login-button"><a asp-area="Identity" asp-page="/Account/Login">Login</a></div>    
    <div class="login-button"><a asp-area="Identity" asp-page="/Account/Register">Register</a></div>
}


