<footer class="footer">

    <div class="text-center">
        &copy; 2022 - Webshop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

        <a class="nav-link text-dark" asp-area="" asp-controller="React" asp-action="Index">About</a>
    </div>

</footer>