<footer>
    <div class="footer-text">
        <ul>
            <li>FAQ</li>
            <li>Privacy NOTICE</li>
            <li>COOKIE POLICY</li>
            <li>NEWS</li>
            <li>CAREER</li>
        </ul>
    </div>

    <div class="social-box">
        <div class="social-circle"><i class="lab la-instagram"></i></div>
        <div class="social-circle"><i class="lab la-facebook"></i></div>
        <div class="social-circle"><i class="lab la-youtube"></i></div>
    </div>

    <p>© 2022 Cupcake King AB <br> Läs vår <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"> Integritetspolicy </a></p>
</footer>