
@*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cupcake King</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Inventory" asp-action="Index">Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="Index">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Image" asp-action="Index">ProductImages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Index">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark">
                        <partial name="_LoginPartial" />
                    </a>
                    @await Component.InvokeAsync("CartTotal")
                </li>
            </ul>
        </div>
    </div>
</nav>*@

<header>
    <div class="admin-box">Admin options</div>
    <div class="admin-box-content">
        <a href="">test</a>
        <a href="">test</a>
        <a href="">test</a>
    </div>

    <div class="menu">
        <ul>
            <a href="#home">
            <li>Hem</li></a>
            <a href="#shop">
            <li>Sortiment</li></a>

            <a href="https://localhost:44341/"><img class="logo" src="~/Images/logo.png" alt="logo"></a>

            <a href="#about">
            <li>Om oss</li></a>
            <a href="#store">
            <li>Butiker</li></a>
        </ul>

        <div class="cart-box">
            <div class="login-box">Sign up | Login</div>
            <a asp-area="" asp-controller="ShoppingCart" asp-action="Index"><i class="las la-shopping-cart"></i></a>
                
        </div>

    </div>

</header>

