@model Webshop.Viewmodels.AddRoleToUsersViewModel

@{
    ViewData["Title"] = "Add user to role";
}

<h1>Add user to role</h1>

@if (Model.Message != null)
{
<p>@Model.Message</p>
}

<form asp-action="AddRoleToUser" method="post">
    <div class=" form-group">
        <label class="control-label">Role:</label>
        <select name="role" class="form-control" asp-items="Model.Roles"></select>
    </div>
    <div class=" form-group">
        <label class="control-label">User:</label>
        <select name="user" class="form-control" asp-items="Model.Users"></select>
    </div>
    <input type="submit" value="Add role to user" class="btn btn-primary" />
</form>

<div>
    <a asp-action="Index">Back to role index</a>
</div>