@model Webshop.Viewmodels.ShoppingCartViewModel

@if (Model.ShoppingCart.CartContents.Count > 0)
{
<li>
    <img src="~/Images/shoppingcart.png" />
    <a class="btn btn-primary" asp-area="" asp-controller="ShoppingCart" asp-action="Index" name="hej">Cart: @Model.ShoppingCart.CartContents.Count</a>
</li>
}

