@{
    ViewData["Title"] = "Index";
}

<h1>Customer Index</h1>


<div>
    <a class="btn btn-primary" asp-route-id="1" asp-controller="Customer" asp-action="Receipt">Go to receipt for specific order</a>
</div>
