
@{
    ViewData["Title"] = "Index";
}

<h1>Customer Index</h1>

<h3>The customer's address, ordered items, order nr etc.'</h3>


<div>
    <a class="btn btn-primary" asp-controller="Customer" asp-action="Receipt">Go to receipt for specific order</a>
</div>
